<% if (!user) { %>
    <h1>Welcome!</h1>
    <a href="/signup">Sign Up</a> |
    <a href="/login">Log In</a>
  <% } else { %>
    <h1>Hello, <%= user.name %>!</h1>
    <a href="/members"><button>Go to Members Area</button></a>
    <form action="/logout" method="GET">
      <button type="submit">Logout</button>
    </form>
  <% } %>
  